<li class="separator"></li>
<li id="table-button">
  <a class="grouped-middle" data-l10n-id="ep_tables_custom.toolbar.table" title="Insert Table">
    <span class="table-button-icon"></span>
  </a>
</li>
